body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
header {
    background-color: #f2f2e8;
    border-bottom: 6px solid #758d5c;
    padding: 2px 14px;
    color: #404040;
    margin-bottom: 16px;
}
header p.description {
    margin-top: -8px;    
}
.area {
    margin: 16px;
}
