.dskb-cell {
    vertical-align: top;
}
.dskb-cell.dskb-row-header.dskb-toggle-button-area {
    width: 1px;
    margin-right: 0;
    padding-right: 0;
}
.dskb-group-collapsed .dskb-cell.dskb-row-header.dskb-toggle-button-area {
    padding-left: 3px;
    padding-right: 1px;
}
.dskb-header {
    margin: 4px;
    padding: 0 4px;
}
.dskb-state-header {
    padding: 2px 8px;
    font-size: smaller;
    vertical-align: bottom;
}
.dskb-group-container {
    margin: 4px;
    padding: 0;
}
.dskb-group {
    margin: 0;
    border: solid 1px #c0c0c0;
    padding: 0;
    margin-top: 8px;
    margin-left: 2px;
}
.dskb-items-container {
    margin: 4px;
}
.dskb-item-container {
    margin: 2px;
}
.dskb-item {
    margin: 0;
    border: solid 1px #c0c0c0;
    padding: 0;
}
.dskb-content-box {
    overflow: hidden;
}
.dskb-group-collapsed {
    background-color: #f0f0f0;
}
.dskb-group-collapsed .dskb-group {
    margin-right: 6px;
}
.dskb-group-collapsed .dskb-toggle-button-area {
    border-top: 4px solid white;
}
.dskb-toggle-button {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}
.dskb-group-collapsed .dskb-toggle-button {
    margin-top: 16px;
    margin-bottom: 16px;
    vertical-align: top;
}
.dskb-cell.dskb-items-container {
    background-color: #f0f0f0;
    padding: 4px;
    border-left: 4px solid white;
    border-top: 4px solid white;
}
.dskb-group-collapsed .dskb-cell.dskb-group-container {
    border-top: 4px solid white;
}
.dskb-group-collapsed .dskb-group {
    margin-top: 6.5px;
}
.dskb-toggle-button-expanded {
    stroke: #808080;
    fill: #808080;
    cursor: pointer;
}
.dskb-toggle-button-collapsed {
    stroke: #808080;
    fill: white;
    cursor: pointer;
}
.dskb-gripper {
    width: 12px;
    cursor: move;
}
.dskb-item-content {
    width: 100%;
    padding: 3px 2px;
}
.dskb-group-content {
    width: 100%;
    padding: 3px 2px;
}
.dskb-editors-area {
    position: relative; 
    top: -45.5px;
    left: 10px;
    margin-right: 15px;
}
.dskb-group-editors-area {
    top: -66px;
    left: 12px;
    margin-right: 17px;
}
.dskb-group-collapsed .dskb-group-editors-area {
    top: -24px;
    margin-right: 23px;
}
.dskb-item-commands-container {
    float: right;
    margin-left: 1px;
    margin-right: -2px;
    margin-top: -1px;
    font-size: smaller;
}
.dskb-group-container .dskb-item-commands-container {
    margin-top: -0.5px;
}
.dskb-property {
    height: 20px;
    font-size: smaller;
    overflow: hidden;
}
.dskb-property-secondary {
    color: gray;
}
.dskb-property-editor {
    margin-left: 1px;
}
.dskb-property-label {
    float: left;
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
    color: gray;
}
.dskb-property-image {
    float: left;
    margin: 1px;
    height: 18px;
}
.dskb-property-table {
    width: 100%;
}
.dskb-commands-container {
    margin: 2px;
}
.dskb-button {
    font-size: smaller;
    border: 1px solid #c0c0c0;
    background-color: #f8f8f8;
    padding: 2px 4px;
    margin-right: 1.5px;
}
.dskb-button:hover {
    border-color: #84cbff;
}
.dskb-button.dskb-new-item-command {
    padding: 2px 6px;
}
.dskb-no-items-label {
    padding: 6px;
}
.dskb input, .dskb select {
    border-style: none;
    background-color: transparent;
    width: 100%;
}
.dskb input {
    padding-left: 3px;
    padding-right: 2px;
}
.dskb input.dskb-select-replacement {
    margin-left: 1px;
}
.dskb table {
    border-collapse: collapse;
    border-spacing: 0;
}
.dskb a {
    text-decoration: none;
    color: initial;
}
.dskb a:visited {
    color: initial;
}
.dskb * {
    box-sizing: border-box;
}
