body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
header {
    background-color: #758d5c;
    border-bottom: 10px solid #b7042c;
    padding: 2px 14px;
    color: white;
    margin-bottom: 16px;
}
.next-iteration-panel {
    display: inline-block;
    margin: 8px 14px;
    background: #f0f0f0;
    padding: 16px 24px;
}
.next-iteration-panel .header {
    margin-bottom: 2px;
    text-align: center;
}
.next-iteration-panel .content {
    font-size: smaller;
    text-align: center;
}
.next-iteration-panel .content .value {
    display: inline-block;
    margin: 0 12px;
}
