.kanban-board.container {
    margin: -8px;
}
.kanban-board .content {
    font-weight: bold;
}
.kanban-board .cell {
    vertical-align: top;
    width: 250px;
}
.kanban-board .cell.row-header {
    width: 150px;
}
.kanban-board .cell.row-header.toggle-button-area {
    width: 4px;
    margin-right: 0px;
    padding-right: 0px;
}
.kanban-board .header {
    margin: 4px;
    padding: 4px;
}
.kanban-board .item-container {
    margin: 4px;
}
.kanban-board .item {
    background-color: white;
    margin: 0px;
    border: solid 1px #c0c0c0;
    padding: 0px;
}
.kanban-board .group-container {
    margin: 4px;
    padding: 0px;
}
.kanban-board .group {
    background-color: white;
    margin: 0px;
    border: solid 1px #c0c0c0;
    padding: 0px;
    margin-top: 8px;
    margin-left: 2px;
}
.kanban-board .group-collapsed {
    background-color: #f0f0f0;
}
.kanban-board .group-collapsed .toggle-button-area {
    border-top: 4px solid white;
}
.kanban-board .toggle-button {
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: top;
}
.kanban-board .group-collapsed .toggle-button {
    margin-top: 12px;
    vertical-align: top;
}
.kanban-board .toggle-button-expanded {
    stroke: #808080;
    fill: #808080;
}
.kanban-board .toggle-button-collapsed {
    stroke: #808080;
    fill: #f0f0f0;
}
.kanban-board .cell.item-container {
    background-color: #f0f0f0;
    padding: 4px;
    border-left: 4px solid white;
    border-top: 4px solid white;
}
.kanban-board .group-collapsed .cell.item-container {
    background-color: #f0f0f0;
    margin-left: -6px;
    padding-left: 6px;
    border-left: none;
}
.kanban-board .group-collapsed .cell.group-container {
    border-top: 4px solid white;
}
.kanban-board .group-collapsed .group {
    margin-top: 4px;
}
.kanban-board .item-content {
    width: 100%;
    padding: 4px 6px;
}
.kanban-board .item-gripper {
    width: 12px;
    background-color: #ffd800;
    cursor: move;
}
.kanban-board .group-content {
    width: 100%;
    padding: 4px 2px;
}
.kanban-board .group-gripper {
    width: 12px;
    background-color: #0094ff;
}
.kanban-board .item-editors-area {
    position: relative; 
    top: -44px; 
    left: 8px; 
}
.kanban-board .item-edit-button-area {
    position: relative; 
    top: -104px;
    margin: 5px; 
    text-align: right;
}
.kanban-board .item-property {
    height: 20px; 
    font-size: smaller;
}
.kanban-board .item-property-secondary {
    color: gray; 
}
.kanban-board .item-property-editor {
    margin-right: 10px;
}
.kanban-board input, .kanban-board select {
    width: 100%;
    border-style: none;
}
.kanban-board input {
    padding-left: 2px;
    padding-right: 2px;
}
.kanban-board a {
    text-decoration: none;
}
.kanban-board * {
    box-sizing: border-box;
}
