.kanban-board .cell {
    vertical-align: top;
    width: 250px;
}
.kanban-board .cell.row-header {
    width: 150px;
}
.kanban-board .cell.row-header.toggle-button-area {
    width: 0.01%;
    margin-right: 0;
    padding-right: 0;
}
.kanban-board .header {
    margin: 4px;
    padding: 0 4px;
}
.kanban-board .state-header {
    padding: 2px 8px;
    font-size: smaller;
    vertical-align: bottom;
}
.kanban-board .item-container {
    margin: 4px;
}
.kanban-board .item-area {
    margin: 2px;
}
.kanban-board .item {
    margin: 0;
    border: solid 1px #c0c0c0;
    padding: 0;
}
.kanban-board .group-container {
    margin: 4px;
    padding: 0;
}
.kanban-board .group {
    margin: 0;
    border: solid 1px #c0c0c0;
    padding: 0;
    margin-top: 10px;
    margin-left: 2px;
}
.kanban-board .group-collapsed {
    background-color: #f0f0f0;
}
.kanban-board .group-collapsed .toggle-button-area {
    border-top: 4px solid white;
}
.kanban-board .toggle-button {
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: top;
}
.kanban-board .group-collapsed .toggle-button {
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
}
.kanban-board .toggle-button-expanded {
    stroke: #808080;
    fill: #808080;
    cursor: pointer;
}
.kanban-board .toggle-button-collapsed {
    stroke: #808080;
    fill: white;
    cursor: pointer;
}
.kanban-board .cell.item-container {
    background-color: #f0f0f0;
    padding: 4px;
    border-left: 4px solid white;
    border-top: 4px solid white;
}
.kanban-board .group-collapsed .cell.item-container {
    background-color: #f0f0f0;
    margin-left: -6px;
    padding-left: 6px;
    border-left: none;
}
.kanban-board .group-collapsed .cell.group-container {
    border-top: 4px solid white;
}
.kanban-board .group-collapsed .group {
    margin-top: 4px;
}
.kanban-board .content-box {
    overflow: hidden;
}
.kanban-board .item-content {
    width: 100%;
    padding: 4px 2px;
}
.kanban-board .item-gripper {
    width: 12px;
    cursor: move;
}
.kanban-board .group-content {
    width: 100%;
    padding: 4px 5px 4px 3px;
}
.kanban-board .group-gripper {
    width: 12px;
}
.kanban-board .item-editors-area {
    position: relative; 
    top: -45px;
    left: 8px;
    margin-right: 14px;
}
.kanban-board .item-edit-button-area {
    float: right;
    margin-left: 1px;
    margin-right: -1px;
    font-size: smaller;
}
.kanban-board .item-property {
    height: 20px;
    font-size: smaller;
    overflow: hidden;
}
.kanban-board .item-property-secondary {
    color: gray;
}
.kanban-board .item-property-editor {
    margin-left: 1px;
}
.kanban-board .item-property-label {
    float: left;
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
    color: gray;
}
.kanban-board .item-property-image {
    float: left;
    margin: 1px;
    height: 18px;
}
.kanban-board .item-property-table {
    width: 100%;
}
.kanban-board .button-container {
    margin: 2px;
}
.kanban-board .button {
    font-size: smaller;
    border: 1px solid #c0c0c0;
    background-color: #f8f8f8;
    padding: 2px 6px;
}
.kanban-board .button:hover {
    border: 1px solid #84cbff;
}
.kanban-board input, .kanban-board select {
    border-style: none;
    background-color: transparent;
    width: 100%;
}
.kanban-board input {
    padding-left: 2px;
    padding-right: 2px;
}
.kanban-board input.select-replacement {
    margin-left: 2px;
}
.kanban-board a {
    text-decoration: none;
}
.kanban-board * {
    box-sizing: border-box;
}
