.kanban-board.container {
    margin: -8px;
}
.kanban-board .content {
    font-weight: bold;
}
.kanban-board .header {
}
.kanban-board .row-header {
}
.kanban-board .column-header {
}
.kanban-board .states-row {
}
.kanban-board .state-header {
}
.kanban-board .row {
}
.kanban-board .cell {
    display: inline-block;
    vertical-align: top;
}
.kanban-board .cell {
    width: 200px;
}
.kanban-board .cell.row-header {
    width: 100px;
}
.kanban-board .cell.row-header.toggle-button-area {
    width: 4px;
    margin-right: 0px;
    padding-right: 0px;
}
.kanban-board .header {
    margin: 4px;
    padding: 4px;
}
.kanban-board .item-container {
    margin: 4px;
}
.kanban-board .item {
    margin: 4px;
    border: solid 1px #0094ff;
    padding: 4px;
}
.kanban-board .group-row {
    margin-top: 2px;
    margin-bottom: 2px;
}
.kanban-board .group-container {
    margin: 4px;
    padding: 0px;
}
.kanban-board .group {
    margin: 4px;
    border: solid 1px #ff6a00;
    padding: 4px;
}
.kanban-board .group-collapsed {
    background-color: #f0f0f0;
}
.kanban-board .toggle-button-area {
    width: 4px !important;
}
.kanban-board .toggle-button {
    vertical-align: bottom;
}
.kanban-board .toggle-button-expanded {
    stroke: #808080;
    fill: #808080;
}
.kanban-board .toggle-button-collapsed {
    stroke: #808080;
    fill: #f0f0f0;
}
.kanban-board * {
    box-sizing: border-box;
}