<div class="kanban-board container">
    <div class="row states-row">
        <div class="cell header row-header column-header toggle-button-area"></div>
        <div class="cell header row-header column-header content" ng-transclude></div>
        <div ng-repeat="state in dskb.states" class="cell header column-header state-header">
            {{ state.content }}
        </div>
    </div>
    <div ng-repeat="group in dskb.groups" class="row group-row {{ group.state.collapsed ? 'group-collapsed' : '' }}">
        <div class="cell header row-header toggle-button-area" ng-click="group.state.collapsed = !group.state.collapsed;">
            <svg ng-if="!group.state.collapsed" class="toggle-button" width="8" height="8">
                <polygon points="1,7 7,7 7,1" class="toggle-button-expanded"/>
            </svg>
            <svg ng-if="group.state.collapsed" class="toggle-button" width="8" height="8">
                <polygon points="0,0 6,4 0,8" class="toggle-button-collapsed"/>
            </svg>
        </div>
        <div class="cell header row-header group-container">
            <div class="group">
                {{ group.content }}
            </div>
        </div>
        <div ng-repeat="state in dskb.states" class="cell item-container">
            <div ng-if="!group.state.collapsed" ng-repeat="item in dskb.getItemsInGroupAndState(group, state)" class="item">
                {{ item.content }}
            </div>
        </div>
    </div>
</div>
