<div class="group">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="group-gripper">&nbsp;</td>
            <td class="group-content">
                <div class="item-property"><input type="text" ng-model="group.name"/></div>
                <div class="item-property" ng-hide="group.isCollapsed"><input type="text" ng-model="group.assignment" class="item-property-secondary"/></div>
                <select class="item-property" ng-hide="group.isCollapsed" ng-model="group.state" ng-options="groupState as groupState.name for groupState in dskb.groupStates" />
            </td>
        </tr>
    </table>
</div>
