<div ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" class="item-area">
    <div class="item" ds:kanban-draggable-item drag-item-index="{{ dskb.items.indexOf(item) }}" highlight-parent="true" ng-style="{ backgroundColor: item.backgroundColor ? item.backgroundColor : (item.type && item.type.backgroundColor ? item.type.backgroundColor : dskb.defaultItemType.backgroundColor) }">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="item-gripper" ng-style="{ backgroundColor: item.color ? item.color : (item.type ? item.type.color : dskb.defaultItemType.color) }">&nbsp;</td>
                <td class="item-content">
                    <div class="item-property item-property-editor"><input type="text" ng-model="item.name" readonly="readonly"/></div>
                    <table cellpadding="0" cellspacing="0" class="item-property item-property-editor item-property-table">
                        <tr>
                            <td>
                                <img ng-if="dskb.assignableResources && item.assignedResource.imageUrl" ng-src="{{ item.assignedResource.imageUrl }}" class="item-property-image"/>
                            </td>
                            <td class="item-property-table">
                                <input ng-model="dskb.assignableResources ? item.assignedResource.name : null" ng-model-options="{ getterSetter: true }" readonly="readonly" class="item-property-secondary select-replacement"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="item-editors-area" ng-style="{ backgroundColor: item.backgroundColor ? item.backgroundColor : (item.type && item.type.backgroundColor ? item.type.backgroundColor : dskb.defaultItemType.backgroundColor) }">
        <div class="item-edit-button-area" ng-show="isHovered">
            <a ng-hide="item.isEditItemButtonHidden || item.state.isEditItemButtonHidden || item.group.isEditItemButtonHidden" href="javascript://" ng-click="dskb.onEditingItem({item: item})" class="button edit-item-button" title="{{ dskb.editItemButtonToolTip }}">
                {{ dskb.editItemButtonText }}
            </a>
        </div>
        <div class="item-property item-property-editor"><input type="text" ng-model="item.name"/></div>
        <table cellpadding="0" cellspacing="0" ng-if="dskb.assignableResources" class="item-property item-property-editor item-property-table">
            <tr>
                <td>
                    <img ng-if="item.assignedResource.imageUrl" ng-src="{{ item.assignedResource.imageUrl }}" class="item-property-image"/>
                </td>
                <td class="item-property-table">
                    <select ng-model="item.assignedResource" ng-options="resource as resource.name for resource in dskb.assignableResources" class="item-property-secondary"></select>
                </td>
            </tr>
        </table>
    </div>
</div>
