<table class="kanban-board container" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="row states-row">
            <td class="cell header row-header column-header toggle-button-area"></td>
            <td class="cell header row-header column-header content" ng-transclude></td>
            <td ng-repeat="state in dskb.states" class="cell header column-header state-header">
                {{ state.content }}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="group in dskb.groups" class="row group-row {{ group.isCollapsed ? 'group-collapsed' : '' }}">
            <td class="cell header row-header toggle-button-area" ng-click="group.isCollapsed = !group.isCollapsed">
                <svg ng-if="!group.isCollapsed" class="toggle-button" width="8" height="8">
                    <polygon points="1,7 7,7 7,1" class="toggle-button-expanded" />
                </svg>
                <svg ng-if="group.isCollapsed" class="toggle-button" width="8" height="8">
                    <polygon points="0,0 6,4 0,8" class="toggle-button-collapsed" />
                </svg>
            </td>
            <td class="cell header row-header group-container">
                <div class="group" style="height: {{ dskb.groupHeight }}px; overflow: auto">
                    <ng-include src="dskb.groupTemplateUrl"/>
                </div>
            </td>
            <td ng-repeat="state in dskb.states" class="cell item-container">
                <div ng-show="!group.isCollapsed" style="height: {{ (!group.isCollapsed ? dskb.getMaxItemCountInGroup(group) : 1) * (dskb.itemHeight + 4) + 6 }}px" ds:kanban-drop-zone drop-handler="dskb.onItemDrop(data, group, state)">
                    <div ng-if="!group.isCollapsed" ng-repeat="item in dskb.getItemsInGroupAndState(group, state)" class="item" style="height: {{ dskb.itemHeight }}px; overflow: auto" ds:kanban-draggable-item drag-data="{{ dskb.items.indexOf(item) }}">
                        <ng-include src="dskb.itemTemplateUrl" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
